@media only screen and (max-width: 798px) {
  header .container .row .anh1 {
    display: flex;
    justify-content: center;
  }

  .navbar-brand {
    padding-left: 1rem;
  }
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }
  .section-1 .cover {
    background-position: -25vmin -10vmin;
  }
  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }
  .numbers .rect h1 {
    font-size: 2rem;
  }
  .section-3 {
    height: initial;
    padding: 10vmin !important;
  }
  .section-3 .row h1 {
    padding: 10vmin !important;
  }
  .section-3 .row .desktop {
    display: flex;
    justify-content: center;
    margin-left: 15vmin;
  }
}
